---
import BaseLayout from "~/layouts/base.astro";
import ContentLayout from "~/layouts/content.astro";
import ArticleHeader from "./_components/article-header.astro";

import { articlesHandler } from "~/lib/handlers/articles";

export const getStaticPaths = async () => {
  const articles = articlesHandler.allArticles();

  return articles.map((article) => ({
    params: { slug: article.data.slug },
    props: { article },
  }));
};
const { article } = Astro.props;
---

<BaseLayout entry={article}>
  <ArticleHeader
    article={article}
  />
  <ContentLayout>
    <div class="article-summary-container">
      <p class="article-summary-title">Resumo</p>
      <div class="article-summary" set:html={article.data.summary.replaceAll("\n", "<br>")}></div>
    </div>
    <hr/>
    <div class="article-content" set:html={article.data.content.replaceAll("\n", "<br>")}></div>
  </ContentLayout>
</BaseLayout>
