@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Adobe Arabic Regular';
    src: url('Adobe Arabic Regular.ttf');
  }

  :root {
    --font-sans: "Times New Roman";
    --font-serif: "Adobe Arabic Regular";

    cursor: default;
    background-color: #e5e3d138;
  }

  html {
    @apply h-full text-[16px];
  }

  @media (min-width: 1024px) {
    html {
      @apply text-[17px];
    }
  }

  body {
    @apply font-sans antialiased h-full;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-serif;
    line-height: 1;
  }

  small,
  time {
    @apply text-sm;
  }

  .prose {
    max-width: 85ch !important;

    pre {
      code {
        span,
        p {
          word-break: break-all;
        }
      }
    }
  }
}

@layer components {
  .a-01 {
    @apply hover:underline decoration-primary;
  }
}
