@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Adobe Arabic Regular';
  src: url('/Adobe Arabic Regular.ttf');
}

@layer base {
  :root {
    --font-sans: "Times New Roman";
    --font-serif: "Adobe Arabic Regular";

    cursor: default;
  }

  html {
    @apply h-full text-[16px];
  }

  html[data-theme="light"] {
    background-color: #e5e3d138;
  }

  @media (min-width: 1024px) {
    html {
      @apply text-[17px];
    }
  }

  body {
    @apply font-sans antialiased h-full;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-serif;
    line-height: 1;
  }

  small,
  time {
    @apply text-sm;
  }

  .article-header {
    max-width: 80ch;
    margin-left: auto;
    margin-right: auto;
  }

  .prose {
    max-width: 60ch !important;
    font-size: 1.25rem !important;
    line-height: 1.5 !important;

    pre {
      code {
        span,
        p {
          word-break: break-all;
        }
      }
    }
  }

  .text-primary {
    text-decoration: underline;
  }

  html[data-theme="light"] .text-primary {
    color: #000 !important;
  }

  html[data-theme="dark"] .text-primary {
    color: #969caa !important;
  }
}

@layer components {
  .a-01 {
    @apply hover:underline decoration-primary;
  }
}
