@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Adobe Arabic Regular';
  src: url('/Adobe Arabic Regular.ttf');
}

@layer base {
  :root {
    --font-sans: "Times New Roman";
    --font-serif: "Adobe Arabic Regular";

    cursor: default;
  }

  html {
    @apply h-full text-[16px];
  }

  html[data-theme="light"] {
    background-color: #e5e3d138;
  }

  * {
    border-color: #424c585e;
  }

  @media (min-width: 1024px) {
    html {
      @apply text-[17px];
    }
  }

  body {
    @apply font-sans antialiased h-full;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-serif;
    line-height: 1;
  }

  small,
  time {
    @apply text-sm;
  }

  .article-header {
    max-width: 80ch;
    margin-left: auto;
    margin-right: auto;
  }

  .prose {
    max-width: 60ch !important;
    font-size: 1.25rem !important;
    line-height: 1.5 !important;

    pre {
      code {
        span,
        p {
          word-break: break-all;
        }
      }
    }
  }

  .text-primary {
    text-decoration: underline;
  }

  html[data-theme="light"] .text-primary {
    color: #000 !important;
  }

  html[data-theme="dark"] .text-primary {
    color: #969caa !important;
  }

  .article-summary-container {
    padding: 20px;
    padding-top: 15px;
    border-radius: 15px;
  }

  html[data-theme="light"] .article-summary-container {
    background: #f3f2ed;
  }

  html[data-theme="dark"] .article-summary-container {
    background: #161a1f;
  }

  .article-summary-title {
    @apply font-serif;
    font-size: 1.7rem;
    font-weight: bold;
    margin-top: 0px !important;
    margin-bottom: 10px !important;
  }

  .article-summary {
    font-size: 1.1rem;
  }

  html[data-theme="light"] .article-summary {
    color: #6a6a6a;
  }

  article hr {
    margin-top: 1.5em !important;
    margin-bottom: 1.5em !important;
  }

  @media (min-width: 750px) {
    .article-summary-container {
      padding: 30px;
      padding-top: 20px;
    }

    article {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }

  header {
    background: #fff;
    -webkit-box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
    position: fixed !important;
    margin-bottom: 50px;
    top: 0;
    width: 100%;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  }

  html[data-theme="dark"] header {
    background: #181c1f !important;
  }

  html[data-theme="dark"] header .navbar {
    background: #181c1f !important;
  }

  body main {
    margin-top: 60px;
  }

  @media (min-width: 1025px) { /* must match the value in header.astro scroll method */
    body main {
      margin-top: 105px;
    }
  }

  .scroll-hidden {
    transform: translateY(-100%);
  }

  .invisible {
    opacity: 0 !important;
  }

  .hidden {
    display: none;
  }
}

@layer components {
  .a-01 {
    @apply hover:underline decoration-primary;
  }
}
